@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
html{
    background-color: #8D99AE;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
.header-links a{
    text-decoration: none;
    color: #EDF2F4;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-links a:hover{
    background-color: #404364;
    border-radius: 9px;
}
.header-links{
    background-color: #2B2D42;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 3px;
}
#header-selected{
    border-bottom: 5px solid #4c4a63;
}
.intro{
    text-align: center;
    font-size: 55px;
}
.hey{
    text-align: center;
    padding-top: 15%;
    font-size: 75px;
}
#name{
    /*color: #D90429;*/
    display: inline;
    border-bottom: 5px solid #EF233C;
    color: black;
    text-decoration: none;
}
#name:hover{
    background-color: #828da1;
    border-radius: 12px;
}
#before{
    display: inline;
}
.paragraph{
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
}
.header{
    color: #D90429;
    padding-left: 30px;
    padding-top: 10px;
}
#pop{
    animation-name: pop;
    animation-duration: 500ms;
}
@keyframes pop {
    from{font-size: 60px;}
    to{font-size: 75px;}
}
.another-animation{
    font-size: 40px;
    text-align: right;
    width: 0px;
    white-space: nowrap;
    animation-name: slide;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}
@keyframes slide{
    from{width: 0px;}
    to{width: 65vw;}
}
.icons a{
    color: black;
    font-size: 100px;
    text-decoration: none;
    padding-right: 50px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.here a{
    display: inline;
    text-decoration: none;
    color: #D90429;
}
.here p{
    display: inline;
}
.experience-list{
    padding-left: 50px;
    line-height: 30px;
}