@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
html{
    background-color: #8D99AE;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
.header-links a{
    text-decoration: none;
    color: #EDF2F4;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-links a:hover{
    background-color: #404364;
    border-radius: 9px;
}
.header-links{
    background-color: #2B2D42;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 3px;
}
.header-selected{
    border-bottom: 5px solid #4c4a63;
}
.intro{
    text-align: center;
    padding-top: 15%;
    font-size: 50px;
}
#name{
    /*color: #D90429;*/
    display: inline;
    border-bottom: 5px solid #EF233C;
}
#before{
    display: inline;
}